* {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.header h1{
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px hsl(356,62%,50%);
    background: #011638;
    color: #eec643;
    font-size: 45px;
    display: flex;
    margin: auto;
    display: inline-block;
}

.header nav{
    text-align: center;
    background: #011638;
    color: #eec643;
    font-size: xx-large;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 10px;
}

.content h2 {
    padding: 20px;
    text-align: center;
    background: #011638;
    color: hsl(356,62%,50%);
    font-size: 45px;
    display: flex;
    margin: auto;
    display: inline-block;
}



h2 {
    font-size: 30px;
    text-shadow: 1px 1px #eec643;
    text-align: center;
    text-decoration-color: #011638;
}

.content h3 {
    font-size: 30px;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}

.hello {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./WALL\ VIBES.jpg");
    background-size: cover;
    background-position: center;
}

nav {
    text-align: center;
    font-size: 27px;
    justify-content: space-between;
}

#me {
    font-size: 15px;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #011638;
    box-sizing: content-box;
    margin: 15px;
    align-self: flex-end;
    width: 95%;
    position: relative;
    text-align: center;
    color: white;
}

.content h3, p {
    text-align: bottom;
    margin-top: 5px;
}

.card h3 {
    position: absolute;
    text-shadow: 1px 1px #eec643;
}

.content h4 {
    position: absolute;
    text-shadow: 1px 1px #eec643;
}

.content p {
    position: relative;
    text-shadow: 1px 1px hsl(356,62%,50%);
}

.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
}

.card {
    align-items: center; 
    justify-content: center; 
    flex: 0 0 200px; 
    flex-wrap: wrap;
    display: flex;
    /* width: 75%; */
    min-width: 400px;
    min-height: 100px;
}

.card img {
    border-style: dotted;
    border-width: 3px;
    border-color: #eec643;
    /* width: 50%; */
}


a {
    font-size: 18px;
}

a:hover {
    color: hotpink;
}

a:active {
    color: #eec643;
}

.contact h2 {
    padding: 20px;
    text-shadow: 1px 1px hsl(356,62%,50%);
    text-align: center;
    background: #011638;
    color: #eec643;
    font-size: 30px;
    display: flex;
    margin: auto;
    display: inline-block;
}

.footer nav {
    display: inline-block;
}
  
@media screen and (max-width: 768px) {
    content,
    h2 {
      flex-direction: column;
}

/* @media screen and (max-width: 600px) { */
    .content {
      float: none;
      width: 100%;
    }
  }

